### Introduction

[Ocearch.org](https://www.ocearch.org/about/) is an organization that collects data on marine wildlife including Sharks.  This notebook will pull in data from the ocearch.org tracker and format it for follow on analysis

### Code

#### Pull data

In [2]:
import requests
url = "http://www.ocearch.org/tracker/ajax/filter-sharks"
headers = {'Accept' : 'application/json'}
resp = requests.get(url, headers=headers)
resp

#### Check out one row of data

In [13]:
resp.json()[0]

{'active': '1',
 'cnt_inactive_pings': '0',
 'description': '<p>Oprah was named by expedition leader Chris Fischer. Fischer named her after Oprah Winfrey, one of America&#39;s great philanthropists who has done much with education in Africa.</p>\r\n',
 'dist_24_hours': '0.000',
 'dist_72_hours': '0.000',
 'dist_total': '2816.662',
 'gender': 'Female',
 'id': 3,
 'images': [{'description': None,
   'encrypted_name': '4ffefafc2f699e5837c56cb2043b9798',
   'filename': 'Screen Shot 2013-06-20 at 11.15.57 AM.png',
   'id': '218',
   'is_primary': True},
  {'description': None,
   'encrypted_name': '20cfc54dc392bfbafbfa34b70b00f3fd',
   'filename': 'Screen Shot 2013-06-20 at 10.58.41 AM.jpg',
   'id': '188',
   'is_primary': False},
  {'description': None,
   'encrypted_name': '2ccdb39e8022b9227f63839430cfea1a',
   'filename': 'Screen Shot 2013-06-20 at 11.04.35 AM.jpg',
   'id': '189',
   'is_primary': False},
  {'description': None,
   'encrypted_name': '7b99c58d1b258c5eb5f5d8485af34712',
   'filename': 'Screen Shot 2013-06-20 at 11.04.35 AM.png',
   'id': '215',
   'is_primary': False},
  {'description': None,
   'encrypted_name': 'cfad40d2ce2907ce585de34f3de354e2',
   'filename': 'Screen Shot 2013-06-20 at 11.05.57 AM.png',
   'id': '216',
   'is_primary': False},
  {'description': None,
   'encrypted_name': '3bbf408f92ce98cc054f4bafc472ed85',
   'filename': 'Screen Shot 2013-06-20 at 11.15.09 AM.png',
   'id': '217',
   'is_primary': False},
  {'description': '',
   'encrypted_name': 'd32d187cb08d7936be69ab5e83536011',
   'filename': 'Oprah Dorsal-921A2478.jpg',
   'id': '13',
   'is_primary': False},
  {'description': '',
   'encrypted_name': 'c617310ba72223accce7145e7c99c58d',
   'filename': 'Oprah Caudal-921A2471.jpg',
   'id': '12',
   'is_primary': False},
  {'description': '',
   'encrypted_name': '8623edcec415f8af5955f975c317359c',
   'filename': 'Oprah enter cradle-921A2028.jpg',
   'id': '14',
   'is_primary': False},
  {'description': '',
   'encrypted_name': 'd0f9de21dbe99ced6006ce01ef41781b',
   'filename': 'Oprah Gills-921A2462.jpg',
   'id': '15',
   'is_primary': False}],
 'isMobile': False,
 'is_alive': '1',
 'last_updated': '1531850549',
 'latestPing': 1404703826,
 'length': '9 ft 10 in.',
 'name': 'Oprah',
 'pingAge': 'sharkmore30',
 'pingCriteria': {'interval': '30 year'},
 'pings': [{'active': '1',
   'datetime': '6 July 2014 1:57:28 PM',
   'id': '36902',
   'latitude': '-34.60661',
   'longitude': '21.15244',
   'tz_datetime': '6 July 2014 1:57:28 PM +0900'},
  {'active': '1',
   'datetime': '23 June 2014 11:40:09 AM',
   'id': '36666',
   'latitude': '-34.78752',
   'longitude': '19.42479',
   'tz_datetime': '23 June 2014 11:40:09 AM +0900'},
  {'active': '1',
   'datetime': '15 June 2014 10:15:44 PM',
   'id': '36500',
   'latitude': '-34.42487',
   'longitude': '21.09754',
   'tz_datetime': '15 June 2014 10:15:44 PM +0900'},
  {'active': '1',
   'datetime': '3 June 2014 11:23:57 AM',
   'id': '35713',
   'latitude': '-34.70432271674724',
   'longitude': '20.21013441406251',
   'tz_datetime': '3 June 2014 11:23:57 AM +0900'},
  {'active': '1',
   'datetime': '29 May 2014 4:53:57 AM',
   'id': '35518',
   'latitude': '-34.65556',
   'longitude': '19.37459',
   'tz_datetime': '29 May 2014 4:53:57 AM +0900'},
  {'active': '1',
   'datetime': '11 April 2014 9:56:06 AM',
   'id': '33483',
   'latitude': '-34.63245',
   'longitude': '19.42612',
   'tz_datetime': '11 April 2014 9:56:06 AM +0900'},
  {'active': '1',
   'datetime': '10 April 2014 12:04:58 PM',
   'id': '33457',
   'latitude': '-34.62952',
   'longitude': '19.42943',
   'tz_datetime': '10 April 2014 12:04:58 PM +0900'},
  {'active': '1',
   'datetime': '10 April 2014 10:11:30 AM',
   'id': '33449',
   'latitude': '-34.62948',
   'longitude': '19.42926',
   'tz_datetime': '10 April 2014 10:11:30 AM +0900'},
  {'active': '1',
   'datetime': '16 January 2014 1:30:50 PM',
   'id': '28656',
   'latitude': '-34.649017966966966',
   'longitude': '20.29276431762696',
   'tz_datetime': '16 January 2014 1:30:50 PM +0900'},
  {'active': '1',
   'datetime': '10 January 2014 10:20:14 PM',
   'id': '28470',
   'latitude': '-34.66521297440365',
   'longitude': '20.264975756835838',
   'tz_datetime': '10 January 2014 10:20:14 PM +0900'},
  {'active': '1',
   'datetime': '8 January 2014 10:23:54 AM',
   'id': '28347',
   'latitude': '-34.81799',
   'longitude': '20.23152',
   'tz_datetime': '8 January 2014 10:23:54 AM +0900'},
  {'active': '1',
   'datetime': '28 December 2013 9:04:59 AM',
   'id': '27983',
   'latitude': '-34.71725347756893',
   'longitude': '20.13079566162105',
   'tz_datetime': '28 December 2013 9:04:59 AM +0900'},
  {'active': '1',
   'datetime': '27 December 2013 11:15:25 PM',
   'id': '27968',
   'latitude': '-34.718189473962475',
   'longitude': '20.124744360351542',
   'tz_datetime': '27 December 2013 11:15:25 PM +0900'},
  {'active': '1',
   'datetime': '26 December 2013 5:43:24 PM',
   'id': '27928',
   'latitude': '-34.72023785588019',
   'longitude': '20.112442878417824',
   'tz_datetime': '26 December 2013 5:43:24 PM +0900'},
  {'active': '1',
   'datetime': '26 December 2013 4:55:39 PM',
   'id': '27921',
   'latitude': '-34.72199930897702',
   'longitude': '20.112982878417938',
   'tz_datetime': '26 December 2013 4:55:39 PM +0900'},
  {'active': '1',
   'datetime': '26 December 2013 2:01:00 AM',
   'id': '27906',
   'latitude': '-34.73791136188306',
   'longitude': '20.083469904785147',
   'tz_datetime': '26 December 2013 2:01:00 AM +0900'},
  {'active': '1',
   'datetime': '25 December 2013 7:40:11 AM',
   'id': '27872',
   'latitude': '-34.72689',
   'longitude': '20.09885',
   'tz_datetime': '25 December 2013 7:40:11 AM +0900'},
  {'active': '1',
   'datetime': '25 December 2013 1:29:27 AM',
   'id': '27869',
   'latitude': '-34.73446',
   'longitude': '20.08771',
   'tz_datetime': '25 December 2013 1:29:27 AM +0900'},
  {'active': '1',
   'datetime': '24 December 2013 9:58:21 PM',
   'id': '27861',
   'latitude': '-34.745147468015844',
   'longitude': '20.07850746032716',
   'tz_datetime': '24 December 2013 9:58:21 PM +0900'},
  {'active': '1',
   'datetime': '24 December 2013 12:04:22 AM',
   'id': '27812',
   'latitude': '-34.72674',
   'longitude': '20.10565',
   'tz_datetime': '24 December 2013 12:04:22 AM +0900'},
  {'active': '1',
   'datetime': '24 December 2013 12:00:52 AM',
   'id': '27808',
   'latitude': '-34.71498566004762',
   'longitude': '20.138274254150247',
   'tz_datetime': '24 December 2013 12:00:52 AM +0900'},
  {'active': '1',
   'datetime': '23 December 2013 11:31:11 PM',
   'id': '27810',
   'latitude': '-34.72938875125311',
   'longitude': '20.10850444458015',
   'tz_datetime': '23 December 2013 11:31:11 PM +0900'},
  {'active': '1',
   'datetime': '23 December 2013 8:31:43 PM',
   'id': '27797',
   'latitude': '-34.749247328724515',
   'longitude': '20.0733130371093',
   'tz_datetime': '23 December 2013 8:31:43 PM +0900'},
  {'active': '1',
   'datetime': '22 December 2013 8:34:24 PM',
   'id': '27747',
   'latitude': '-34.76028641348234',
   'longitude': '20.062147683105422',
   'tz_datetime': '22 December 2013 8:34:24 PM +0900'},
  {'active': '1',
   'datetime': '22 December 2013 9:56:10 AM',
   'id': '27738',
   'latitude': '-34.7766',
   'longitude': '20.05964',
   'tz_datetime': '22 December 2013 9:56:10 AM +0900'},
  {'active': '1',
   'datetime': '21 December 2013 8:44:07 PM',
   'id': '27718',
   'latitude': '-34.88268',
   'longitude': '20.28008',
   'tz_datetime': '21 December 2013 8:44:07 PM +0900'},
  {'active': '1',
   'datetime': '8 December 2013 6:19:33 AM',
   'id': '27246',
   'latitude': '-34.72235',
   'longitude': '20.35575',
   'tz_datetime': '8 December 2013 6:19:33 AM +0900'},
  {'active': '1',
   'datetime': '3 December 2013 10:22:10 AM',
   'id': '27081',
   'latitude': '-34.65221',
   'longitude': '20.4527',
   'tz_datetime': '3 December 2013 10:22:10 AM +0900'},
  {'active': '1',
   'datetime': '3 December 2013 3:54:48 AM',
   'id': '27073',
   'latitude': '-34.6388',
   'longitude': '20.49682',
   'tz_datetime': '3 December 2013 3:54:48 AM +0900'},
  {'active': '1',
   'datetime': '2 December 2013 3:28:33 PM',
   'id': '27048',
   'latitude': '-34.70552',
   'longitude': '20.44697',
   'tz_datetime': '2 December 2013 3:28:33 PM +0900'},
  {'active': '1',
   'datetime': '2 December 2013 1:46:28 PM',
   'id': '27047',
   'latitude': '-34.73442',
   'longitude': '20.42501',
   'tz_datetime': '2 December 2013 1:46:28 PM +0900'},
  {'active': '1',
   'datetime': '2 December 2013 10:28:30 AM',
   'id': '27042',
   'latitude': '-34.71613',
   'longitude': '20.43019',
   'tz_datetime': '2 December 2013 10:28:30 AM +0900'},
  {'active': '1',
   'datetime': '2 December 2013 5:47:28 AM',
   'id': '27039',
   'latitude': '-34.70838',
   'longitude': '20.42146',
   'tz_datetime': '2 December 2013 5:47:28 AM +0900'},
  {'active': '1',
   'datetime': '1 December 2013 12:20:58 PM',
   'id': '27021',
   'latitude': '-34.64913',
   'longitude': '20.3989',
   'tz_datetime': '1 December 2013 12:20:58 PM +0900'},
  {'active': '1',
   'datetime': '1 December 2013 8:42:49 AM',
   'id': '27010',
   'latitude': '-34.64329',
   'longitude': '20.40279',
   'tz_datetime': '1 December 2013 8:42:49 AM +0900'},
  {'active': '1',
   'datetime': '9 October 2013 1:43:43 PM',
   'id': '25405',
   'latitude': '-34.15962',
   'longitude': '22.12554',
   'tz_datetime': '9 October 2013 1:43:43 PM +0900'},
  {'active': '1',
   'datetime': '6 October 2013 5:13:28 PM',
   'id': '25317',
   'latitude': '-34.15764',
   'longitude': '22.13796',
   'tz_datetime': '6 October 2013 5:13:28 PM +0900'},
  {'active': '1',
   'datetime': '6 October 2013 5:09:04 PM',
   'id': '25316',
   'latitude': '-34.17173',
   'longitude': '22.13131',
   'tz_datetime': '6 October 2013 5:09:04 PM +0900'},
  {'active': '1',
   'datetime': '5 October 2013 9:59:45 PM',
   'id': '25284',
   'latitude': '-34.17378',
   'longitude': '22.13501',
   'tz_datetime': '5 October 2013 9:59:45 PM +0900'},
  {'active': '1',
   'datetime': '1 October 2013 9:31:22 PM',
   'id': '24894',
   'latitude': '-34.5182247476826',
   'longitude': '20.64837612263234',
   'tz_datetime': '1 October 2013 9:31:22 PM +0900'},
  {'active': '1',
   'datetime': '1 October 2013 5:00:28 AM',
   'id': '24957',
   'latitude': '-34.47014',
   'longitude': '21.26723',
   'tz_datetime': '1 October 2013 5:00:28 AM +0900'},
  {'active': '1',
   'datetime': '30 September 2013 5:12:00 AM',
   'id': '24955',
   'latitude': '-34.54551',
   'longitude': '20.4386',
   'tz_datetime': '30 September 2013 5:12:00 AM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 8:12:00 PM',
   'id': '24870',
   'latitude': '-34.54551',
   'longitude': '20.43860000000001',
   'tz_datetime': '29 September 2013 8:12:00 PM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 8:22:11 AM',
   'id': '24952',
   'latitude': '-34.63555',
   'longitude': '20.3954',
   'tz_datetime': '29 September 2013 8:22:11 AM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 6:43:31 AM',
   'id': '24951',
   'latitude': '-34.6779',
   'longitude': '20.3477',
   'tz_datetime': '29 September 2013 6:43:31 AM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 6:34:06 AM',
   'id': '24820',
   'latitude': '-34.46257',
   'longitude': '20.48244',
   'tz_datetime': '29 September 2013 6:34:06 AM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 5:59:02 AM',
   'id': '24950',
   'latitude': '-34.69846',
   'longitude': '20.30791',
   'tz_datetime': '29 September 2013 5:59:02 AM +0900'},
  {'active': '1',
   'datetime': '29 September 2013 5:28:38 AM',
   'id': '24949',
   'latitude': '-34.69825',
   'longitude': '20.31532',
   'tz_datetime': '29 September 2013 5:28:38 AM +0900'},
  {'active': '1',
   'datetime': '28 September 2013 11:22:11 PM',
   'id': '24800',
   'latitude': '-34.63555',
   'longitude': '20.3954',
   'tz_datetime': '28 September 2013 11:22:11 PM +0900'},
  {'active': '1',
   'datetime': '28 September 2013 9:43:31 PM',
   'id': '24803',
   'latitude': '-34.6779',
   'longitude': '20.34769999999997',
   'tz_datetime': '28 September 2013 9:43:31 PM +0900'},
  {'active': '1',
   'datetime': '28 September 2013 8:59:02 PM',
   'id': '24802',
   'latitude': '-34.69846',
   'longitude': '20.30790999999999',
   'tz_datetime': '28 September 2013 8:59:02 PM +0900'},
  {'active': '1',
   'datetime': '28 September 2013 8:28:38 PM',
   'id': '24801',
   'latitude': '-34.69825',
   'longitude': '20.31531999999999',
   'tz_datetime': '28 September 2013 8:28:38 PM +0900'},
  {'active': '1',
   'datetime': '14 September 2013 1:07:49 AM',
   'id': '24330',
   'latitude': '-34.44422',
   'longitude': '21.16081000000003',
   'tz_datetime': '14 September 2013 1:07:49 AM +0900'},
  {'active': '1',
   'datetime': '14 September 2013 12:21:36 AM',
   'id': '24331',
   'latitude': '-34.44657',
   'longitude': '21.17196999999999',
   'tz_datetime': '14 September 2013 12:21:36 AM +0900'},
  {'active': '1',
   'datetime': '5 September 2013 2:47:01 AM',
   'id': '23906',
   'latitude': '-34.49684',
   'longitude': '20.63756000000001',
   'tz_datetime': '5 September 2013 2:47:01 AM +0900'},
  {'active': '1',
   'datetime': '5 September 2013 1:40:31 AM',
   'id': '23908',
   'latitude': '-34.49818',
   'longitude': '20.64247',
   'tz_datetime': '5 September 2013 1:40:31 AM +0900'},
  {'active': '1',
   'datetime': '5 September 2013 12:17:01 AM',
   'id': '23907',
   'latitude': '-34.50088',
   'longitude': '20.66081000000003',
   'tz_datetime': '5 September 2013 12:17:01 AM +0900'},
  {'active': '1',
   'datetime': '4 September 2013 8:55:02 PM',
   'id': '23897',
   'latitude': '-34.52897',
   'longitude': '20.72557999999998',
   'tz_datetime': '4 September 2013 8:55:02 PM +0900'},
  {'active': '1',
   'datetime': '4 September 2013 8:17:17 PM',
   'id': '23901',
   'latitude': '-34.5428',
   'longitude': '20.75022999999999',
   'tz_datetime': '4 September 2013 8:17:17 PM +0900'},
  {'active': '1',
   'datetime': '4 September 2013 8:04:34 PM',
   'id': '23900',
   'latitude': '-34.60189',
   'longitude': '20.68671999999998',
   'tz_datetime': '4 September 2013 8:04:34 PM +0900'},
  {'active': '1',
   'datetime': '4 September 2013 5:41:39 PM',
   'id': '23899',
   'latitude': '-34.65501',
   'longitude': '20.79118',
   'tz_datetime': '4 September 2013 5:41:39 PM +0900'},
  {'active': '1',
   'datetime': '4 September 2013 5:39:50 PM',
   'id': '23898',
   'latitude': '-34.65861',
   'longitude': '20.79570000000001',
   'tz_datetime': '4 September 2013 5:39:50 PM +0900'},
  {'active': '1',
   'datetime': '3 September 2013 3:32:45 AM',
   'id': '23753',
   'latitude': '-34.32848',
   'longitude': '21.96492999999998',
   'tz_datetime': '3 September 2013 3:32:45 AM +0900'},
  {'active': '1',
   'datetime': '3 September 2013 2:27:20 AM',
   'id': '23755',
   'latitude': '-34.30852',
   'longitude': '21.98007999999999',
   'tz_datetime': '3 September 2013 2:27:20 AM +0900'},
  {'active': '1',
   'datetime': '2 September 2013 10:55:48 PM',
   'id': '23754',
   'latitude': '-34.30231',
   'longitude': '21.98066999999998',
   'tz_datetime': '2 September 2013 10:55:48 PM +0900'},
  {'active': '1',
   'datetime': '2 September 2013 1:38:16 AM',
   'id': '23695',
   'latitude': '-34.12634',
   'longitude': '22.642359999999996',
   'tz_datetime': '2 September 2013 1:38:16 AM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 11:12:24 PM',
   'id': '23698',
   'latitude': '-34.23273',
   'longitude': '22.453010000000006',
   'tz_datetime': '1 September 2013 11:12:24 PM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 3:16:24 AM',
   'id': '23600',
   'latitude': '-34.21839',
   'longitude': '22.47739999999999',
   'tz_datetime': '1 September 2013 3:16:24 AM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 1:50:36 AM',
   'id': '23607',
   'latitude': '-34.22934',
   'longitude': '22.44067000000001',
   'tz_datetime': '1 September 2013 1:50:36 AM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 1:38:35 AM',
   'id': '23697',
   'latitude': '-34.25628',
   'longitude': '22.450150000000008',
   'tz_datetime': '1 September 2013 1:38:35 AM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 12:59:53 AM',
   'id': '23696',
   'latitude': '-34.27734',
   'longitude': '22.417239999999993',
   'tz_datetime': '1 September 2013 12:59:53 AM +0900'},
  {'active': '1',
   'datetime': '1 September 2013 12:10:25 AM',
   'id': '23604',
   'latitude': '-34.26512',
   'longitude': '22.39776999999998',
   'tz_datetime': '1 September 2013 12:10:25 AM +0900'},
  {'active': '1',
   'datetime': '31 August 2013 8:34:12 PM',
   'id': '23603',
   'latitude': '-34.15828',
   'longitude': '22.24392999999998',
   'tz_datetime': '31 August 2013 8:34:12 PM +0900'},
  {'active': '1',
   'datetime': '31 August 2013 7:47:33 PM',
   'id': '23602',
   'latitude': '-34.13532',
   'longitude': '22.22856999999999',
   'tz_datetime': '31 August 2013 7:47:33 PM +0900'},
  {'active': '1',
   'datetime': '31 August 2013 7:23:47 PM',
   'id': '23601',
   'latitude': '-34.13463',
   'longitude': '22.21766000000002',
   'tz_datetime': '31 August 2013 7:23:47 PM +0900'},
  {'active': '1',
   'datetime': '31 August 2013 1:13:02 AM',
   'id': '23534',
   'latitude': '-34.12228',
   'longitude': '22.31020999999998',
   'tz_datetime': '31 August 2013 1:13:02 AM +0900'},
  {'active': '1',
   'datetime': '31 August 2013 12:21:28 AM',
   'id': '23535',
   'latitude': '-34.1137',
   'longitude': '22.26618999999999',
   'tz_datetime': '31 August 2013 12:21:28 AM +0900'},
  {'active': '1',
   'datetime': '30 August 2013 12:36:19 AM',
   'id': '23469',
   'latitude': '-34.10375',
   'longitude': '22.31803000000002',
   'tz_datetime': '30 August 2013 12:36:19 AM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 10:30:24 PM',
   'id': '23264',
   'latitude': '-34.52087',
   'longitude': '21.43964',
   'tz_datetime': '26 August 2013 10:30:24 PM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 9:24:43 PM',
   'id': '23265',
   'latitude': '-34.54522',
   'longitude': '21.39501999999999',
   'tz_datetime': '26 August 2013 9:24:43 PM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 6:46:34 PM',
   'id': '23259',
   'latitude': '-34.47109',
   'longitude': '20.95328999999998',
   'tz_datetime': '26 August 2013 6:46:34 PM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 7:21:54 AM',
   'id': '23198',
   'latitude': '-34.45055',
   'longitude': '20.93335999999999',
   'tz_datetime': '26 August 2013 7:21:54 AM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 6:20:46 AM',
   'id': '23200',
   'latitude': '-34.45245',
   'longitude': '20.94796000000002',
   'tz_datetime': '26 August 2013 6:20:46 AM +0900'},
  {'active': '1',
   'datetime': '26 August 2013 6:05:15 AM',
   'id': '23199',
   'latitude': '-34.45403',
   'longitude': '20.94616000000002',
   'tz_datetime': '26 August 2013 6:05:15 AM +0900'},
  {'active': '1',
   'datetime': '25 August 2013 5:53:17 PM',
   'id': '23180',
   'latitude': '-34.44983',
   'longitude': '21.18310000000002',
   'tz_datetime': '25 August 2013 5:53:17 PM +0900'},
  {'active': '1',
   'datetime': '25 August 2013 4:49:00 PM',
   'id': '23187',
   'latitude': '-34.46785',
   'longitude': '21.22962000000001',
   'tz_datetime': '25 August 2013 4:49:00 PM +0900'},
  {'active': '1',
   'datetime': '25 August 2013 4:11:00 PM',
   'id': '23186',
   'latitude': '-34.49348',
   'longitude': '21.27460000000002',
   'tz_datetime': '25 August 2013 4:11:00 PM +0900'},
  {'active': '1',
   'datetime': '25 August 2013 3:32:54 PM',
   'id': '23185',
   'latitude': '-34.49699',
   'longitude': '21.28102999999999',
   'tz_datetime': '25 August 2013 3:32:54 PM +0900'},
  {'active': '1',
   'datetime': '25 August 2013 3:06:55 PM',
   'id': '23184',

#### Parse main json response

In [14]:
import pandas as pd
df = pd.DataFrame(resp.json())
columns = ['id', 'name', 'gender', 'species', 'weight', 'tagDate']
df[columns].head()

,id,name,gender,species,weight,tagDate
0,3,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
1,4,Albertina,Female,White Shark (Carcharodon carcharias),1110 lb,8 March 2012
2,5,Helen,Female,White Shark (Carcharodon carcharias),765 lb,8 March 2012
3,6,Brenda,Female,White Shark (Carcharodon carcharias),1310 lb,8 March 2012
4,7,Madiba,Male,White Shark (Carcharodon carcharias),659 lb,8 March 2012

#### Extract ping data
Each row in the dataframe represents an individual shark, but may have hundreds or thousands of 'pings' associated with that shark

In [9]:
df.pings[0][:3]

[{'active': '1',
  'datetime': '6 July 2014 1:57:28 PM',
  'id': '36902',
  'latitude': '-34.60661',
  'longitude': '21.15244',
  'tz_datetime': '6 July 2014 1:57:28 PM +0900'},
 {'active': '1',
  'datetime': '23 June 2014 11:40:09 AM',
  'id': '36666',
  'latitude': '-34.78752',
  'longitude': '19.42479',
  'tz_datetime': '23 June 2014 11:40:09 AM +0900'},
 {'active': '1',
  'datetime': '15 June 2014 10:15:44 PM',
  'id': '36500',
  'latitude': '-34.42487',
  'longitude': '21.09754',
  'tz_datetime': '15 June 2014 10:15:44 PM +0900'}]

In [17]:
ping_frames = []
for row in df.itertuples():
    ping_frame = pd.DataFrame(row.pings)
    ping_frame['id'] = row.id
    ping_frames.append(ping_frame)
    
len(ping_frames)

275

In [24]:
ping_frames[0].head()

,active,datetime,id,latitude,longitude,tz_datetime
0,1,6 July 2014 1:57:28 PM,3,-34.60661,21.15244,6 July 2014 1:57:28 PM +0900
1,1,23 June 2014 11:40:09 AM,3,-34.78752,19.42479,23 June 2014 11:40:09 AM +0900
2,1,15 June 2014 10:15:44 PM,3,-34.42487,21.09754,15 June 2014 10:15:44 PM +0900
3,1,3 June 2014 11:23:57 AM,3,-34.70432271674724,20.21013441406251,3 June 2014 11:23:57 AM +0900
4,1,29 May 2014 4:53:57 AM,3,-34.65556,19.37459,29 May 2014 4:53:57 AM +0900

#### Enrich ping data with original data

In [25]:
pings = pd.concat(ping_frames)
pings.shape

(75977, 6)

In [26]:
pings.head()

,active,datetime,id,latitude,longitude,tz_datetime
0,1,6 July 2014 1:57:28 PM,3,-34.60661,21.15244,6 July 2014 1:57:28 PM +0900
1,1,23 June 2014 11:40:09 AM,3,-34.78752,19.42479,23 June 2014 11:40:09 AM +0900
2,1,15 June 2014 10:15:44 PM,3,-34.42487,21.09754,15 June 2014 10:15:44 PM +0900
3,1,3 June 2014 11:23:57 AM,3,-34.70432271674724,20.21013441406251,3 June 2014 11:23:57 AM +0900
4,1,29 May 2014 4:53:57 AM,3,-34.65556,19.37459,29 May 2014 4:53:57 AM +0900

In [27]:
df[columns].head()

,id,name,gender,species,weight,tagDate
0,3,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
1,4,Albertina,Female,White Shark (Carcharodon carcharias),1110 lb,8 March 2012
2,5,Helen,Female,White Shark (Carcharodon carcharias),765 lb,8 March 2012
3,6,Brenda,Female,White Shark (Carcharodon carcharias),1310 lb,8 March 2012
4,7,Madiba,Male,White Shark (Carcharodon carcharias),659 lb,8 March 2012

In [28]:
joined = pings.merge(df[columns], on='id')
joined.shape

(75977, 11)

In [29]:
joined.head()

,active,datetime,id,latitude,longitude,tz_datetime,name,gender,species,weight,tagDate
0,1,6 July 2014 1:57:28 PM,3,-34.60661,21.15244,6 July 2014 1:57:28 PM +0900,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
1,1,23 June 2014 11:40:09 AM,3,-34.78752,19.42479,23 June 2014 11:40:09 AM +0900,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
2,1,15 June 2014 10:15:44 PM,3,-34.42487,21.09754,15 June 2014 10:15:44 PM +0900,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
3,1,3 June 2014 11:23:57 AM,3,-34.70432271674724,20.21013441406251,3 June 2014 11:23:57 AM +0900,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012
4,1,29 May 2014 4:53:57 AM,3,-34.65556,19.37459,29 May 2014 4:53:57 AM +0900,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,7 March 2012

### Write to disk

In [30]:
fname = 'sharks_cleaned.csv'
joined.to_csv(fname, index=False)

from IPython.display import FileLink
FileLink(fname)

C:\Users\kafon\Desktop\vast\sharks_cleaned.csv